body{
    background-image:url("background.png");
}
.heading1{
    background-color:blue;
    padding:1%;
    color:ivory;
    text-align:center;
}
.bg1{
    background-color: darkturquoise;
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 5%;
    padding-right:5%;
    padding-top:2%;
    padding-bottom:2%;
    height:auto;
}
.footer{
    background-color:darkgray;
    color: darkblue;
    text-align: center;
    padding: 2%;
}
.bg2{
    background-color:darkcyan;
    padding:5px;
}
.bg3{
  background-color:navy;
  color:white;
  padding:5px;
}
.bg4{
    background-color: dodgerblue;
    padding:20px;;
    border:5%;
    border-color: gray;
}
.button1{
    color:deepskyblue;
}
.button1{
        color:white;
        background-color:blue;
}
.box1{
        background-color:white;
        color:blue;
        margin:2%;
        padding:2%;
    }
.bg3{
      background-color:navy;
      color:white;
      padding: 5px;
    }
.button1{
        color:deepskyblue;
    }
.heading1{
        background-color:blue;
        padding:1%;
        color:ivory;
        text-align: center;
    }
@import url('https://fonts.googleapis.com/css?family=Orbitron');

#clock {
    background-color: lightseagreen;
    font-family: 'Orbitron', sans-serif;
    color: ghostwhite;
    font-size: larger;
    text-align: center;
    padding-top: 10%;
    padding-bottom:10%;
    padding-right:4%;
    padding-left: 4%;
}


#quotes{
    background-color: white;
    color:green;
    font-size: larger;
    font-style: italic;
    font-family: cursive;
    padding-top:20px;
    padding-bottom:15px;
    padding-top:30px;
    padding-right:30px;
    margin-left: auto;
    margin-right: auto;
    /*animation-name: animation;
    animation-duration: 4s;*/
}
#myTableData {
    border-collapse: collapse;
    width: 40%;
    padding: 10px;
    border-left: 6px solid #095484;
    background-color: #d0e2bc;
    font:cursive;
    color: #095484;
  }

  .background1{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        padding-left: 5%;
        padding-right:5%;
        padding-top:2%;
        padding-bottom:2%;
        height:auto;
        text-align: center;
        background-color:powderblue;
        color:blue;
        font-size: larger;
  }
  .background2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                padding-left: 5%;
                padding-right:5%;
                padding-top:2%;
                padding-bottom:2%;
                height:auto;
                text-align: center;
                background-color:blanchedalmond;
}
.background3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 5%;
    padding-right:5%;
    padding-top:2%;
    padding-bottom:2%;
    height:auto;
    text-align: center;
    background-color: rgb(230, 241, 124);
}